body{
    padding: 10pt;
   
    
    background: linear-gradient(#1d61b9,#191414, #2d1db9);
   
}
.header{
    padding: 20px;
    position: fixed;
    position: fixed;
    z-index: 2;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
}
.title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 20px;
    color:#191414 ;
  
  
}
ul{
    list-style-type: none;
}

.song-img{

    height: 250px;
    width: 250px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 23px;
    border-radius: 5px;

}

.song__container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
  
    margin-top: 90px;
    overflow: auto;

    padding: 20px;

    margin-right: 20px;
   padding-bottom: 30px;

    /* grid-template-areas: 
       
        " song-one "
        "song-two "
        "song-three "
    ;
    grid-gap: 25pt; */
}

.song-item{
    
    margin-left: 8%;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
  
}
.song-item__detail{


    margin-right: 20%;
    position: absolute;
    margin-top: 7%;
    margin-left: 0.5%;
/*
    margin-right: 20%;
    position: absolute;
    margin-top: 35%;
    margin-left: 1.5%;*/
}

/*SCROLL*/


/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1DB954; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #191414; 
  }


    .footer{

    color: #1DB954;
    /* background: #191414; */
    font-family:'Montserrat', sans-serif; 
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items:flex-end;

    justify-content: space-evenly;
    /* margin-bottom: 20px; */
    flex-wrap: nowrap;
    width: 100%;
    bottom: 0px;
    position: fixed;
    padding-top:0px;
    padding-bottom:0px;
    margin-right: 10px;

    }



/* MEDIA IPHONE X
@media only screen 

    and (min-device-width: 375px)
    and (max-device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) { 

    body{
        padding: 34pt;
    }
    .header{
        padding: 1pt;
    }
    .title{
        letter-spacing: 7px;
        font-size: 24px;
    }
    .song{
        margin-right: 24px;
    }
    .song-img{
        margin-left: 26px;
    }
}*/



/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

     
    .song-item__detail{  margin-right: 20%;
        position: absolute;
        margin-top: 32%;
        margin-left: 1.9%;
    }
    .song-item{
    
        margin-left: 16%;
        margin-right: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 53%;
      
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 


     
    .song-item__detail{  margin-right: 20%;
        position: absolute;
        margin-top: 32%;
        margin-left: 1.9%;
    }
    .song-item{
    
        margin-left: 16%;
        margin-right: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 53%;
      
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 


     
    .song-item__detail{  margin-right: 20%;
        position: absolute;
        margin-top: 32%;
        margin-left: 1.9%;
    }
    .song-item{
    
        margin-left: 16%;
        margin-right: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 53%;
      
    }

}

/*

@media  screen 
    and (min-device-width : 300px)
    and (max-device-height : 800px) 
    and (-webkit-device-pixel-ratio : 2) { 
   
    .song-item__detail{

        margin-right: 20%;
        position: absolute;
        margin-top: 35%;
        margin-left: 1.9%;
    }
}*/

/* 1792x828px at 326ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 

        .song-item__detail{  margin-right: 20%;
        position: absolute;
        margin-top: 32%;
        margin-left: 1.9%;
    }
    .song-item{
    
        margin-left: 16%;
        margin-right: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 53%;
      
    }

}